#header,
#content,
#footer {
    padding: 1em 10px;
}

#header ul,
#header form {
    display: none;
}

#header {
    background-image: none;
    padding: 0;
}

#header a#title {
    font-size: 24px;
    padding: 4px 0 4px 60px;
}

#search-results a.map,
#user img,
#attraction #map {
    float: none;
    margin: 10px auto;
}

#search-results ol {
    margin: 0.5em 0;
}

#fdbk_tab {
    display: none;
}

/* map */

#map #header,
#map #footer {
    display: none;
}

#map #content {
    padding: 0;
}

#map #big-map {
    width: 100%;
    margin: 0;
    border: none;
}
