#header,
#content,
#footer {
    padding: 1em 10px;
}

#header ul,
#header form {
    display: none;
}

#header {
    padding: 0;
}

#header h1 {
    font-size: 24px;
}

#header h1 a {
    padding: 4px 0 4px 60px;
}

#search-results img,
#user img,
#attraction #map {
    float: none;
    margin: 10px auto;
}

/* map */

#map #header,
#map #footer {
    display: none;
}

#map #content {
    padding: 0;
}

#map #big-map {
    width: 100%;
    margin: 0;
    border: none;
}
