* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #000;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

#header,
#content,
#footer {
    padding: 1em 10%;
    height: 1%;
}

#header {
    background: #e6f0ff url(/_/beta.png) 35% 50% no-repeat;
    border-bottom: 1px solid #d6e0ef;
}

#header:after {
    content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#footer {
    clear: both;
    background: #e6f0ff;
    border-bottom: 1px solid #d6e0ef;
    border-top: 1px solid #d6e0ef;
    font-size: 80%;
}

h2, h3, h4, h5, h6 {
    font-family: Georgia, Times New Roman, Century Schoolbook L, Times, serif;
    margin: 0.5em 0;
}

h2 {
    border-bottom: 1px solid #000;
}

h3 {
    margin-top: 1em;
}

p {
    margin: 0.5em 0;
}

ul, ol {
    list-style: square;
    margin-left: 25px;
}

li {
    margin: 4px 0;
}

img {
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #f80;
    outline: none;
}

p#date {
    clear: both;
    font-size: 80%;
    background: #eee;
    border: 1px solid #ccc;
    border-top-width: 4px;
    padding: 6px 10px 4px;
    margin: 3em 0 10px;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:active {
    color: #900;
}

a.ext {
    color: #090;
}

/* inline map */

#search-results a.map,
#attraction #map,
#user img {
    float: right;
    margin: 0 0 10px 10px;
    width: 300px;
    height: 300px;
    border: 1px solid #999;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
}

#search-results a.map span {
    text-decoration: underline;
}

/* header */

#header h1 {
    float: left;
    font-size: 40px;
}

#header h1 a {
    display: block;
    background: url(/_/icon.png) no-repeat center left;
    padding: 10px 0 10px 60px;
    color: #000;
    text-decoration: none;
}

#header form {
    float: right;
    clear: right;
    text-align: right;
}

#header ul {
    float: right;
    list-style: none;
    margin-bottom: 10px;
}

#header ul li {
    display: inline;
    padding-left: 0.5em;
}

#header form label {
    display: inline;
    padding-left: 0.5em;
}

#header form label input {
    width: auto;
}

#footer a.license {
    margin: 1em 0 0;
    font-size: 95%;
    display: block;
}

/* forms */

form label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

form label input,
form textarea {
    width: 98%;
    border: 1px solid #999;
    padding: 4px 2px 2px;
    font-family: monospace;
    font-weight: normal;
}

form label textarea {
    height: 200px;
}

form label.location input.map {
    display: block;
    width: 300px;
    height: 150px;
    margin: 0;
    padding: 0;
}

form input[type=submit] {
    cursor: pointer;
}

p.error,
form label.error {
    color: #f00;
    font-weight: bold;
}

/* nav */

.nav {
    clear: both;
    margin: 1em 0;
    padding: 2px 5px;
    background: #eee;
    border: 1px solid #ddd;
}

.nav a,
.nav span,
#add-comment,
a.more {
    display: block;
    margin: 2px 0;
    padding-left: 22px;
    background: url(/_/icons.png) no-repeat 0 0;
}

.nav a.recommend.recommended { background-position: 0 -38px; }
.nav a.recommend { background-position: 0 -76px; }
.nav a.itinerary.added { background-position: 0 -449px; }
.nav a.itinerary { background-position: 0 -114px; }
.nav a.map { background-position: 0 -150px; }
.nav a.picture { background-position: 0 -188px; }
.nav a.gps { background-position: 0 -224px; }
a.more { background-position: 0 -263px; }
.nav a.search { background-position: 0 -300px; }
.nav a.feed { background-position: 0 -338px; }
.nav a.recent { background-position: 0 -376px; }
.nav a.add { background-position: 0 -412px; }
.nav a.next { background-position: 0 -486px; }
.nav a.prev { background-position: 0 -523px; }
.nav a.gmap, .nav span.kml { background-position: 0 -560px; }

.nav span a {
    display: inline;
    background: none;
    padding: 0;
}

/* tag editor */

label.tags div {
    border: 1px solid #999;
    width: 98%;
    padding: 4px 2px;
}

label.tags div.active {
    border-color: #f80;
}

label.tags ul#tags {
    list-style: none;
    margin: 0;
}

label.tags ul#tags li {
    float: left;
    background: #f80;
    padding: 2px 5px;
    font-size: 90%;
    margin: 0 4px;
    font-weight: normal;
}

label.tags ul#tags li span {
    cursor: pointer;
}

label.tags input {
    border: none;
    width: 100px;
}

label.tags ul#predict {
    display: none;
    list-style: none;
    border: 1px solid #999;
    border-top: none;
    background: #eee;
    margin: 0 20px;
}

label.tags ul#predict li {
    margin: 0;
    padding: 2px 5px;
    cursor: pointer;
    font-weight: normal;
}

label.tags ul#predict li.active {
    background: #666;
}

/* picture editor */

label.picture img {
    display: block;
    margin: 0 0 4px;
}

label.picture span {
    cursor: pointer;
    color: #00e;
    text-decoration: underline;
    font-weight: normal;
}

label.picture div {
    width: 100%;
    height: 100px;
    overflow: auto;
    margin-top: 4px;
}

label.picture ul {
    list-style: none;
    margin: 0;
}

label.picture li {
    display: inline;
    margin-right: 3px;
}

label.picture li img {
    display: inline;
    cursor: pointer;
}

/* homepage */

form#lookat {
    background-color: #fc6;
    border: 1px solid #fc6;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
}

form#lookat label {
    display: inline;
    margin: 10px;
}

form#lookat label input {
    width: 50%;
    margin-left: 10px;
}

form#lookat input {
    font-size: 120%;
    padding: 10px;
    margin: 10px 0;
}

form#lookat p {
    font-size: 80%;
}

div.homepage-list {
    float: left;
    width: 45%;
    min-width: 280px;
    margin: 0 5% 20px 0;
}

/* search */

#search-results ol {
    list-style-type: upper-alpha;
}

#map-big {
    float: right;
    background: #fff;
    border: 1px solid #999;
    border-right: none;
    padding: 2px;
    position: relative;
    left: 10px;
    color: #66d;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

/* attraction */

#attraction h2 {
    margin-bottom: 0;
    background: url(http://google-maps-icons.googlecode.com/files/info.png) no-repeat center left;
    padding-left: 38px;
    min-height: 33px;
}

#attraction h3 {
    margin-top: 4px;
}

#attraction-nav {
    float: right;
    text-align: right;
    margin-top: -1em;
}

#attraction-nav a,
#attraction-nav span {
    float: left;
    background: #d6e0ef;
    padding: 2px 5px;
    margin-left: 4px;
    font-size: 90%;
}

#attraction img {
    display: block;
    margin: 1em 0;
}

div.info {
    background: #333 no-repeat 5px 50%;
    color: #fff;
    border: 1px solid #000;
    margin: 1em 0;
    padding: 2px 10px 2px 110px;
}

div.info a {
    color: #fff;
}

div.info.dupe { background-image: url(/_/info/dupe.png); }
div.info.delete { background-image: url(/_/info/delete.png); }
div.info.badlocation { background-image: url(/_/info/badloc.png); }
div.info.todo { background-image: url(/_/info/todo.png); }
div.info.trap { background-image: url(/_/info/trap.png); }
div.info.translated { background-image: url(/_/info/translated.png); }
div.info.old { background-image: url(/_/info/old.png); }
div.info.nonfree { background-image: url(/_/info/nonfree.png); }

ul#tags {
    list-style: none;
    margin: 1em 0;
}

ul#tags li {
    display: inline;
    background: #f80;
    padding: 2px 5px;
    font-size: 90%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

span#add-comment {
    color: #00e;
    cursor: pointer;
    text-decoration: underline;
}

ol#comments {
    list-style: none;
    margin: 3em 0 10px;
}

ol#comments li {
    background: #e6f0ff;
    border: 1px solid #d6e0ef;
    margin: 0;
}

ol#comments li p {
    margin: 5px;
}

ol#comments li p.author {
    margin: 0;
    padding: 5px 4px 4px;
    background: #d6e0ef;
    font-size: 80%;
}

form#comment {
    display: none;
}

form#comment textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

form#comment input {
    display: block;
    margin: 2px auto;
    padding: 2px 1em 0;
}

form#rating label {
    display: inline;
}

form#rating label input {
    width: auto;
}

label.location #map {
    width: 98%;
    height: 150px;
    border: 1px solid #999;
}

p.smallprint {
    font-size: 80%;
    color: #666;
    margin: 1em 0;
}

/* history */

ol.diff {
    list-style: none;
    margin: 5px 0 20px 25px;
    font-size: 90%;
}

ol.diff li {
    padding: 3px 5px;
    background: #ccc;
    overflow: hidden;
}

ol.diff li {
    padding: 3px 5px;
}

ol.diff li.add {
    background: #3f3;
}

ol.diff li.take {
    background: #f33;
}

ol.diff li.pic img.new {
    border: 5px solid #3f3;
}

ol.diff li.pic img.old {
    border: 5px solid #f33;
}

/* big map */

#big-map {
    width: 100%;
    height: 300px;
    border: 1px solid #999;
}

#loading {
    width: 100%;
    height: 4px;
    z-index: 1000;
}

#zoom-in {
    display: none;
    margin: 10px 4px;
    font-size: 70%;
    color: #55a;
    padding: 2px 5px;
    border: 1px solid #999;
    background: #fff;
}

#infowindow {
    padding-right: 20px;
}

#infowindow img {
    float: left;
    width: 75px;
    height: 75px;
    margin: 0 10px 10px 0;
}

#infowindow li {
    margin-right: 4px;
}

/* user */

#user h3 {
    clear: right;
}

#user img {
    height: 200px;
}

ul#badges {
    width: 300px;
    margin: 0;
    float: right;
    list-style: none;
}

ul#badges li {
    float: left;
}

ul#badges img {
    margin: 0 10px 10px 0;
    width: 50px;
    height: 50px;
    border: none;
}

ul#locations {
    list-style: none;
    margin: 2em 0;
    font-size: 80%;
}

ul#locations li {
    display: inline;
    padding-right: 4px;
}

/* badges */

div.badge {
    margin: 2em 0;
}

div.badge img {
    border: none;
    float: left;
    margin: 10px 10px 10px 0;
}

div.badge h3 {
    font-size: 200%;
    margin-bottom: 0;
}

div.badge p {
    margin-top: 0;
    font-weight: bold;
}

