{% extends "shell.html" %}

{% block content %}
    <h2>About to.uri.st</h2>
    
    <p>Going away is great, but what you really need is someone who knows
    the area and the places to visit.</p>
    
    <p>to.uri.st is about finding those local attractions you never knew
    existed, we spider the Web for places to go the World over and place them
    on our map for you to discover.</p>
    
    <h3>Why to.uri.st?</h3>
    
    <p>I was looking for local places to visit around where I live and got really
    fed up of trawling the tourist information sites trying to figure out where
    places were. What I needed was everything plotted on a map, and so to.uri.st
    was born.</p>
    
    <h3>How does it work?</h3>
    
    <p>We have a Web spider that we program with the details of different tourist
    information sites around the World. The spider is then let loose on the site,
    scraping the data and geocoding it onto the map.</p>
    
    <p>Some data is good, some not so good, some just a title and a geocoded point.
    That's where the community comes in, to.uri.st isn't just a map of spidered
    data, it's also a kind of <a href="http://en.wikipedia.org/wiki/Wiki" class="ext">Wiki</a>
    allowing anyone to update the data as they see fit.</p>
    
    <p><a href="http://wiki.to.uri.st/" class="ext">Find out more on the to.uri.st
    Wiki</a>.</p>
    
    <h3>What next?</h3>
    
    <p>The easiest way to get started is to use the search box at the top of the page
    to take you straight to your destination. Once there, zoom in and drag the map
    around to find places that sound interesting to you.</p>
    
{% endblock %}
