{% extends "shell.html" %}

{% block title %}{{attraction.name|escape }} : to.uri.st{% endblock %}

{% block content %}
    
    <div id="attraction-nav">
        <span>Attraction</span>
        <a rel="edit" href="/attractions/{{ attraction.id }}/edit.html">Edit</a>
        <a rel="history" href="/attractions/{{ attraction.id }}/history.html">History</a>
    </div>
    
    <h2>{{ attraction.name|escape }}</h2>
    <h3>{{ attraction.region|escape }}</h3>
    
    {% if attraction.next %}
    <div class="info old">
        <p>This is an old version of this tourist attraction. View <a href="/attractions/{{ attraction.id }}/history.html">the
        attractions history</a> to view it's latest version.</p>
    </div>
    {% endif %}
    {% for tag in attraction.tags %}
        {% ifequal tag "dupe" %}
    <div class="info dupe">
        <p>This attraction has been marked as a duplicate of another attraction.</p>
        <p>It may be automatically deleted 30 days after {{ attraction.datetime|date:"jS F Y \a\t H:i" }} unless
        this tag is removed.</p>
    </div>
        {% endifequal %}
        {% ifequal tag "delete" %}
    <div class="info delete">
        <p>This attraction has been marked to be deleted.</p>
        <p>It may be automatically deleted 30 days after {{ attraction.datetime|date:"jS F Y \a\t H:i" }} unless
        this tag is removed.</p>
    </div>
        {% endifequal %}
        {% ifequal tag "badlocation" %}
    <div class="info badlocation">
        <p>The location of this attraction is incorrect or inaccurate, this is both a
        warning to people attempting to visit the attraction and a prompt to people who
        do know the attractions correct location to update it.</p>
    </div>
        {% endifequal %}
        {% ifequal tag "todo" %}
    <div class="info todo">
        <p>This attraction needs a better description, if you know this attraction <a href="/attractions/{{ attraction.id }}/edit.html">please
        help by editing it</a>.</p>
    </div>
        {% endifequal %}
        {% ifequal tag "trap" %}
    <div class="info trap">
        <p>This attraction has been marked as a potential tourist trap and should
        possibly be avoided.</p>
    </div>
        {% endifequal %}
        {% ifequal tag "translated" %}
    <div class="info translated">
        <p>The description of this attraction was automatically translated by machine
        into English and should be fixed by a human.</p>
    </div>
        {% endifequal %}
    {% endfor %}
    
    <img src="http://maps.google.com/maps/api/staticmap?size=300x300&amp;maptype=roadmap&amp;zoom=14&amp;markers=color:0xff8800|{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}&amp;sensor=false" alt="Map" id="map">
    
    {% if attraction.description %}{{ attraction.description|escape|linebreaks }}{% endif %}
    
    {% if attraction.picture %}
    <img src="{{ attraction.picture|escape }}" alt="Picture">
    {% endif %}
    
    {% if attraction.href %}
    <a href="{{ attraction.href|escape }}" rel="nofollow ext" class="more ext">Go to this attraction's web site</a>
    {% endif %}
    
    {% if attraction.tags %}
    <ul id="tags">
        {% for tag in attraction.tags %}
        <li><a href="/search.html?t={{ tag|escape }}" rel="tag">{{ tag|escape }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if attraction.comments %}
    <ol id="comments">
        {% for comment in attraction.comments %}
        <li>
            {{ comment.comment|escape|linebreaks }}
            <p class="author">Written by <a href="/users/{{ comment.userid|escape }}.html">{{ comment.user|escape }}</a> {{ comment.datetime|date:"jS F Y \a\t H:i" }}</p>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
    <p id="date">{% if attraction.parent %}Last modified{% else %}Created{% endif %} {{ attraction.datetime|date:"jS F Y \a\t H:i" }} ({{ attraction.datetime|timesince}} ago) by {% if attraction.userid %}<a rel="author" href="/users/{{ attraction.userid|urlencode }}.html">{{ attraction.username|escape }}</a>{% else %}Anonymous{% endif %}</p>
    
    <div class="nav">
    {% if recommended %}
        <a class="recommend recommended" href="/attractions/{{ attraction.id|escape }}/unrecommend.html">Stop recommending this attraction</a>
    {% else %}
        <a class="recommend" href="/attractions/{{ attraction.id|escape }}/recommend.html">Recommend this attraction</a>
    {% endif %}
    {% if itinerary %}
        <a class="itinerary added" href="/attractions/{{ attraction.id|escape }}/unitinerary.html">Remove from your itinerary</a>
    {% else %}
        <a class="itinerary" href="/attractions/{{ attraction.id|escape }}/itinerary.html">Add to your itinerary</a>
    {% endif %}
    </div>
    
    <div class="nav">
        <a class="search" href="/search.html?c={{ attraction.location.lat|floatformat:2|escape }},{{ attraction.location.lon|floatformat:2|escape }}" rel="index">More attractions in this area</a>
        <a class="map" href="/map.html?c={{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}">View on the big map</a>
        <a class="picture ext" href="http://flickr.com/search/?q=%22{{ attraction.name|escape }}%22" rel="ext">Find pictures of this attraction on Flickr</a>
        <a class="gps" href="/attractions/{{ attraction.id }}.gpx">Download GPS data for this attraction (GPX)</a>
    </div>
    
{% endblock %}
