{% extends "shell.html" %}

{% block title %}{% if attraction.id %}Editing "{{attraction.name|escape }}"{% else %}Add a new attraction{% endif %} : to.uri.st{% endblock %}

{% block content %}
    
    {% if attraction.id %}
    <div id="attraction-nav">
        <a href="/attractions/{{ attraction.id }}.html">Attraction</a>
        <span>Edit</span>
        <a href="/attractions/{{ attraction.id }}/history.html">History</a>
    </div>
    
    <h1>Edit "{{ attraction.name|escape }}"</h1>
    {% else %}
    <h1>Add a new attraction</h1>
    {% endif %}
    
    {% if errors.save %}<p class="error">There was a problem saving the attraction, please try again later.</p>{% endif %}
    
    <form action="{% if attraction.id %}/attractions/{{ attraction.id }}/edit.html{% else %}/add.html{% endif %}" method="post">
        
        <label{% if errors.name %} class="error"{% endif %}>
            Attraction name:
            {% if errors.name_empty %}You must give the attraction a name{% endif %}
            {% if errors.name_long %}The attraction name must be under a 100 characters long{% endif %}
            <input type="text" name="name" value="{{ attraction.name|escape }}" maxlength="100">
        </label>
        
        <label>
            Description:
            <textarea name="description">{{ attraction.description|escape }}</textarea>
        </label>
        
        <label class="location{% if errors.location %} error{% endif %}">
            Location:
            <input class="map" type="image" name="location" src="http://maps.google.com/maps/api/staticmap?size=300x150&amp;maptype=roadmap&amp;zoom=14&amp;markers=color:red|{{ attraction.location.lat|default:lat|escape }},{{ attraction.location.lon|default:lon|escape }}&amp;sensor=false&amp;key={{ mapkey }}" alt="Location">
            <input type="hidden" name="lat" value="{{ attraction.location.lat|default:lat|escape }}">
            <input type="hidden" name="lon" value="{{ attraction.location.lon|default:lon|escape }}">
        </label>
        
        <label{% if errors.href %} class="error"{% endif %}>
            More information URL:
            {% if errors.href %}Enter a valid HTTP URL{% endif %}
            <input type="url" name="href" value="{{ attraction.href|escape }}">
        </label>
        
        <label class="picture{% if errors.picture %} error{% endif %}">
            Picture:
            {% if attraction.picture %}
            <img src="{{ attraction.picture|escape }}" class="picture" alt="">
            {% endif %}
            <input type="url" name="picture" value="{{ attraction.picture|escape }}">
        </label>
        
        <label class="tags{% if errors.tags %} error{% endif %}">
            Tags:
            {% if errors.tags %}Enter a space separated list of tags{% endif %}
            <input type="text" name="tags" value="{% for tag in attraction.tags %}{{ tag|escape }}{% if not forloop.last %} {% endif %}{% endfor %}">
        </label>
        
        <p class="smallprint">By submitting content, you agree for it to be licensed
        under <a rel="ext license" class="ext" href="http://creativecommons.org/licenses/by-sa/1.0/">the
        Creative Commons Attribution-ShareAlike 1.0 license</a>. Please only submit
        content that you write yourself or that is licenced under a compatible license.
        Learn more about <a rel="ext help" class="ext" href="http://wiki-to.uri.st/Content_policy">our content policy</a>.</p>
        
        <div class="buttons">
            <input type="submit" value="Save">
            {% if attraction.id %}
            <a href="/attractions/{{ attraction.id }}.html">Cancel</a>
            {% else %}
            <a href="/">Cancel</a>
            {% endif %}
        </div>
        
    </form>
    
{% endblock %}
