{% extends "shell.html" %}

{% block content %}
    
    <h2>Edit "{{ attraction.name|escape }}"</h2>
    
    {% if errors.save %}<p class="error">There was a problem saving the attraction, please try again later.</p>{% endif %}
    
    <form action="/attractions/{{ attraction.id }}/edit.html" method="post">
        
        <label{% if errors.name %} class="error"{% endif %}>
            Attraction name:
            {% if errors.name_empty %}You must give the attraction a name{% endif %}
            {% if errors.name_long %}The attraction name must be under a 100 characters long{% endif %}
            <input type="text" name="name" value="{{ attraction.name|escape }}" maxlength="100">
        </label>
        
        <label{% if errors.region %} class="error"{% endif %}>
            Region:
            <input type="text" name="region" value="{{ attraction.region|escape }}" maxlength="100">
        </label>
        
        <label>
            Description:
            <textarea name="description">{{ attraction.description|escape }}</textarea>
        </label>
        
        <label class="location{% if errors.location %} error{% endif %}">
            Location:
            <input type="image" name="location" src="http://maps.google.com/maps/api/staticmap?size=300x150&amp;maptype=roadmap&amp;zoom=14&amp;markers=color:red|{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}&amp;sensor=false&amp;key={{ mapkey }}" alt="Location">
            <input type="hidden" name="lat" value="{{ attraction.location.lat }}">
            <input type="hidden" name="lon" value="{{ attraction.location.lon }}">
        </label>
        
        <label{% if errors.href %} class="error"{% endif %}>
            More information URL:
            {% if errors.href %}Enter a valid HTTP URL{% endif %}
            <input type="text" name="href" value="{{ attraction.href|escape }}">
        </label>
        
        <label{% if errors.picture %} class="error"{% endif %}>
            Picture URL:
            <input type="text" name="picture" value="{{ attraction.picture|escape }}">
        </label>
        
        <div class="nav">
            <input type="submit" value="Save">
            <a href="/attractions/{{ attraction.id }}.html">Cancel</a>
        </div>
        
    </form>
    
{% endblock %}
