{% extends "shell.html" %}

{% block content %}
    <h2>Find and share tourist attractions</h2>
    <p>Going away is great, but what you really need is someone who knows the places to visit.</p>
    <p>to.uri.st is the free database of tourist attractions anyone can edit, if you're passionate about seeing things and want to help others discover places around the World that you love, we need your help.</p>
    <a href="about.html">About the site</a> | <a href="http://wiki.to.uri.st/">Community wiki</a>
    
    <form id="lookat" method="get" action="search.html">
        <label>Find attractions in <input type="text" name="q"></label>
        <input type="submit" value="Search">
        <p>Why not try <a href="search.html?q=parks in london uk">parks in london uk</a> or <a href="search.html?q=new york ny">new york ny</a></p>
    </form>
    
    <div class="homepage-list">
        <h3>Recent changes</h3>
        {% ifnotequal recent.count 0 %}
            <ul>
            {% for attraction in recent %}
                <li>
                    <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
                    {{ attraction.datetime|date:"jS F Y \a\t H:i" }} by {% if attraction.user %}{{ attraction.user|escape }}{% else %}Anonymous{% endif %}
                </li>
            {% endfor %}
            </ul>
            <a href="/recent.html">View more changes</a>
        {% else %}
            <p>Nothing</p>
        {% endifnotequal %}
    </div>
    
    <div class="homepage-list">
        <h3>Popular attractions</h3>
        {% ifnotequal popular.count 0 %}
            <ul>
            {% for attraction in popular %}
                <li>
                    <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
                    {{ attraction.datetime|date:"jS F Y \a\t H:i" }} by {% if attraction.user %}{{ attraction.user|escape }}{% else %}Anonymous{% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Nothing</p>
        {% endifnotequal %}
    </div>
    
    <div class="nav">
        <a href="/add.html" id="add">Add a new attraction</a>
    </div>
    
{% endblock %}
