{% extends "shell.html" %}

{% block content %}
    <h1>Find and share tourist attractions</h1>
    <p>Going away is great, but what you really need is someone who knows the places to visit.</p>
    <p>to.uri.st is the free database of tourist attractions anyone can edit, if you're passionate about seeing things and want to help others discover places around the World that you love, we need your help.</p>
    <a href="about.html">About the site</a> | <a href="http://wiki-to.uri.st/">Community wiki</a>
    
    <form id="lookat" method="get" action="search.html">
        <label>Find attractions in <input type="search" name="q" autofocus></label>
        <input type="submit" value="Search">
        <p>Why not try <a href="search.html?q=new york ny">new york ny</a> or <a href="search.html?q=parks in london uk">parks in london uk</a></p>
    </form>
    
    <div class="homepage-list">
        <h2>Recent changes</h2>
        {% ifnotequal recent.count 0 %}
            <ol id="recent">
            {% for attraction in recent %}
                <li{% if attraction.thumbnail %} style="background-image: url({{ attraction.thumbnail|escape }})"{% endif %}>
                    <h3><a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a></h3>
                    {{ attraction.datetime|date:"jS F Y \a\t H:i" }} by {% if attraction.username %}<a href="/users/{{ attraction.userid|escape }}.html">{{ attraction.username|escape }}</a>{% else %}Anonymous{% endif %}
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <p>No changes</p>
        {% endifnotequal %}
    </div>
    
    <div class="homepage-list">
        <h2>Popular attractions</h2>
        {% ifnotequal popular.count 0 %}
            <ol id="popular">
            {% for attraction in popular %}
                <li{% if attraction.thumbnail %} style="background-image: url({{ attraction.thumbnail|escape }})"{% endif %}>
                    <h3><a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a></h3>
                    {% if attraction.description %}{{ attraction.description|truncatewords:10|escape|linebreaks }}{% endif %}
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <p>Nothing is popular</p>
        {% endifnotequal %}
    </div>
    
    <div class="homepage-list">
        <h2>Top users</h2>
        {% ifnotequal users.count 0 %}
            <ol>
            {% for user in users %}
                <li><a href="/users/{{ user.id }}.html">
                    {{ user.username|escape }}{% ifnotequal user.name user.username %} ({{ user.name|escape }}){% endifnotequal %}
                </a></li>
            {% endfor %}
            {% ifnotequal users.count 5 %}
                <li>Your name could be here, get editing today</li>
            {% endifnotequal %}
            </ol>
        {% endifnotequal %}
    </div>
    
    <div class="nav">
        <a class="recent" href="/recent.html">View the recent changes</a>
        <a class="add" href="/add.html">Add a new attraction</a>
        <a class="map" href="/map.html">View the big map</a>
    </div>
    
{% endblock %}
