{% extends "shell.html" %}

{% block title %}Legal information : to.uri.st{% endblock %}

{% block content %}
    <h2>Legal information</h2>
    
    <h3>Disclaimer</h3>
    
    <p>to.uri.st is an open-content collaborative data sink, that is, a voluntary
    association of individuals and groups working to develop a common resource
    of human knowledge.</p>
    
    <p>The structure of the project allows anyone with an Internet connection
    to alter its content. Please be advised that nothing found here has necessarily
    been reviewed by people with the expertise required to provide you with
    complete, accurate or reliable information.</p>
    
    <h3>Privacy policy</h3>
    
    <p>If you only read the to.uri.st website, no more information is collected
    than is typically collected in server logs by web sites in general.</p>
    
    <p>Due to the use of Google maps as part of the site, some traffic and usage
    data may be passed to Google via the downloading and using of Google hosted
    assets.</p>
    
    <p>If you contribute to the to.uri.st database, you are publishing every
    word you post publicly. If you write something, assume that it will be retained
    forever.</p>
    
    <p>By publishing data on the site, you will be identified by your network
    IP address. This is a series of four numbers which identifies the Internet
    address from which you are contacting the site. Depending on your connection,
    this number may be traceable only to a large Internet service provider, or
    specifically to your school, place of business, or home. It may be possible
    that the origin of this IP address could be used in conjunction with any 
    interests you express implicitly or explicitly by editing attractions to identify
    you even by private individuals.</p>
    
    <p>Logging into the site using your Google account may send some additional traffic
    and usage data to Google and will set a cookie identifying your browser with
    regard to your Google account.</p>
    
    <p>Site traffic is monitored by Google Analytics which may set additional cookies.</p>
    
    <h3>Legal information</h3>
    
    <p>By using to.uri.st, you warrant that you will not use to.uri.st, or any
    of the content obtained from to.uri.st, for any purpose that is unlawful.</p>
    
    <p>By publishing data on the site, you claim that you own the copyright of
    the uploaded data or that the data is free from copyright and applicable to
    be redistributed under <a href="http://creativecommons.org/licenses/by-sa/1.0/" class="ext">the
    Creative Commons Attribution-ShareAlike 1.0 license</a>.</p>
    
    <p>By publishing data on the site, you grant to.uri.st the right to re-distribute
    that data under <a href="http://creativecommons.org/licenses/by-sa/1.0/" class="ext">the
    Creative Commons Attribution-ShareAlike 1.0 license</a> in any form.</p>
    
{% endblock %}
