{% extends "shell.html" %}

{% block title %}Recent changes : to.uri.st{% endblock %}

{% block content %}
    <h2>Recent changes to attractions{% if coords %} at {{ coords|escape }}{% endif %}</h2>
    
    <div id="search-results">
    {% if attractions %}
        <img src="http://maps.google.com/maps/api/staticmap?size=300x300&amp;maptype=roadmap{% for attraction in attractions %}&amp;markers={% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false&amp;key={{ mapkey }}" alt="Map">
        <ol>
            {% for attraction in attractions %}
            <li>
                <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
                {{ attraction.datetime|date:"jS F Y \a\t H:i" }} by {% if attraction.userid %}<a href="/users/{{ attraction.userid|escape }}.html">{{ attraction.username|escape }}</a>{% else %}Anonymous{% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>
    {% else %}
    <p>No changes{% if coords %} at this location{% endif %}.</p>
    {% endif %}
    
    <div class="nav">
        {% if previous %}<a class="prev" href="{{ previous|escape }}" rel="prev">Previous page</a>{% endif %}
        {% if next %}<a class="next" href="{{ next|escape }}" rel="next">Next page</a>{% endif %}
        <a class="feed" href="{{ atom|escape }}" rel="alternate" type="application/atom+xml">Atom feed</a>
        {% if coords %}<a href="/recent.html">Recent edits worldwide</a>{% endif %}
    </div>
    
{% endblock %}
