{% extends "shell.html" %}

{% block title %}Recent changes : to.uri.st{% endblock %}

{% block content %}
    <h2>Recent changes to attractions{% if coords %} (at {{ coords|escape }}){% endif %}</h2>
    
    <div id="search-results">
        <img src="http://maps.google.com/maps/api/staticmap?size=300x300&amp;maptype=roadmap{% for attraction in attractions %}&amp;markers={% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false&amp;key={{ mapkey }}" alt="Map">
        <ol>
            {% for attraction in attractions %}
            <li>
                <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
                {{ attraction.datetime|date:"jS F Y \a\t H:i" }} by {% if attraction.user %}{{ attraction.user|escape }}{% else %}Anonymous{% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>
    
    <div class="nav">
        {% if previous %}<a href="{{ previous }}">Previous page</a>{% endif %}
        {% if next %}<a href="{{ next }}">Next page</a>{% endif %}
    </div>
    
{% endblock %}
