{% extends "shell.html" %}

{% block title %}Recent changes : to.uri.st{% endblock %}

{% block content %}
    <h1>Recent changes to attractions{% if coords %} at {{ coords|escape }}{% endif %}</h1>
    
    {% if attractions %}
    <div id="search-results">
        <a class="map" href="/map.html{% if coords %}?c={{ coords|escape }}{% endif %}">
            <img src="http://maps.google.com/maps/api/staticmap?size=300x300&amp;maptype=roadmap{% for attraction in attractions %}{% if attraction.label %}&amp;markers=label:{{ attraction.label }}|{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endif %}{% endfor %}&amp;sensor=false&amp;key={{ mapkey }}" alt="Map">
            <span>View on the big map</span>
        </a>
        <ol>
            {% for attraction in attractions %}
            <li{% if attraction.thumbnail %} style="background-image: url({{ attraction.thumbnail|escape }})"{% endif %}>
                <h3><a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a></h3>
                {{ attraction.datetime|date:"jS F Y \a\t H:i" }} by {% if attraction.userid %}<a rel="author" href="/users/{{ attraction.userid|urlencode }}.html">{{ attraction.username|escape }}</a>{% else %}{% if attraction.username %}{{ attraction.username|escape }}{% else %}Anonymous{% endif %}{% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>
    {% else %}
    <p>No changes{% if coords %} at this location{% endif %}.</p>
    {% endif %}
    
    <div class="nav">
        {% if previous %}<a class="prev" href="{{ previous|escape }}" rel="prev">Previous page</a>{% endif %}
        {% if next %}<a class="next" href="{{ next|escape }}" rel="next">Next page</a>{% endif %}
        <a class="map" href="/map.html{% if coords %}?c={{ coords|escape }}{% endif %}">View on the big map</a>
        <a class="feed" href="{{ atom|escape }}" rel="alternate" type="application/atom+xml">Atom feed</a>
        <span class="kml"><a href="http://maps.google.com/?q={{ kml|escape }}" rel="ext">View on Google Maps</a> (<a href="{{ kml|escape }}" rel="alternate" type="application/vnd.google-earth.kml+xml">KML data</a>)</span>
        {% if coords %}<a href="/recent.html">Recent edits worldwide</a>{% endif %}
    </div>
    
{% endblock %}
