{% extends "shell.html" %}

{% block content %}
    <h2>Look at: {{ search|escape }} ({{ coords|escape }})</h2>
    
    {% if results %}
    
    <ul>
        {% for result in results %}
        <li>
            <a href="/search.html?c={{ result.Point.coordinates.1|floatformat:4 }},{{ result.Point.coordinates.0|floatformat:4 }}">{{ result.address|escape }}</a>
        </li>
        {% endfor %}
    </ul>
    
    {% else %}{% if attractions %}
    
    <ol style="list-style: upper-alpha;">
        {% for attraction in attractions %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
        </li>
        {% endfor %}
    </ol>
    
    <img src="http://maps.google.com/maps/api/staticmap?size=300x300&amp;maptype=roadmap{% for attraction in attractions %}&amp;markers=color:{{ attraction.colour }}|label:{{ attraction.marker }}|{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false&amp;key={{ mapkey }}" alt="Map">
    
    {% else %}
    
    <p>Nothing found for "{{ search|escape }}"</p>
    
    {% endif %}{% endif %}
    
{% endblock %}
