{% extends "shell.html" %}

{% block title %}
    {% if search %}In "{{ search|escape }}"{% if coords %} ({{ coords|escape }}){% endif %} : 
    {% else %}{% if coords %}In {{ coords|escape }} : 
    {% else %}{% if tag %}Tagged as "{{ tag|escape }}" : 
    {% endif %}{% endif %}{% endif %}to.uri.st{% endblock %}

{% block content %}
    <h2>{% if search %}
        Attractions in "{{ search|escape }}"{% if coords %} ({{ coords|escape }}){% endif %}
    {% else %}{% if coords %}
        Attractions at {{ coords|escape }}
    {% else %}{% if tag %}
        Attractions tagged as "{{ tag|escape }}"
    {% else %}
        Attraction search results
    {% endif %}{% endif %}{% endif %}</h2>
    
    {% if results %}
    
    <ul>
        {% for result in results %}
        <li>
            <a href="/search.html?c={{ result.Point.coordinates.1|floatformat:4 }},{{ result.Point.coordinates.0|floatformat:4 }}">{{ result.address|escape }}</a>
        </li>
        {% endfor %}
    </ul>
    
    {% else %}{% if attractions %}
    
    <div id="search-results">
        <a href="/map.html{% if coords %}?c={{ coords|escape }}{% endif %}"><img src="http://maps.google.com/maps/api/staticmap?size=300x300&amp;maptype=roadmap{% for attraction in attractions %}&amp;markers={% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false" alt="Map"></a>
        <ol>
            {% for attraction in attractions %}
            <li>
                <a href="/attractions/{{ attraction.id }}.html" data-lat="{{ attraction.location.lat }}" data-lon="{{ attraction.location.lon }}">{{ attraction.name|escape }}</a>
            </li>
            {% endfor %}
        </ol>
    </div>
    
    {% else %}
    
    <p>Nothing found{% if search %}
        {% if tag %}tagged as "{{ tag|escape}}" {% endif %}in "{{ search|escape }}"{% if coords %} ({{ coords|escape }}){% endif %}
    {% else %}{% if coords %}
        in {{ coords|escape }}
    {% else %}{% if tag %}
        tagged as "{{ tag|escape }}"
    {% endif %}{% endif %}{% endif %}.</p>
    
    {% endif %}{% endif %}
    
    <div class="nav">
        {% if previous %}<a href="{{ previous|escape }}" rel="prev">Previous page</a>{% endif %}
        {% if next %}<a href="{{ next|escape }}" rel="next">Next page</a>{% endif %}
        {% if coords %}<a href="/recent.html?c={{ coords|escape }}">Recent changes</a>{% endif %}
        <a href="{{ atom|escape }}">Atom feed</a>
        <a href="{{ gpx|escape }}">GPS data for this search (GPX)</a>
    </div>
    
{% endblock %}
