<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}to.uri.st{% endblock %}</title>
        <link rel="stylesheet" href="/_/style.css" type="text/css">
	</head>
    <body id="{{ page }}">
        
        <div id="header">
            <h1><a href="/">to.uri.st</a></h1>
            <form methd="get" action="/search.html">
                <ul>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="http://blog.to.uri.st">Blog</a></li>
                    <li><a href="http://wiki.to.uri.st">Wiki</a></li>
                </ul>
                <label>Search <input type="text" name="q" value="{{ q|escape }}"></label>
                <input type="submit" value="Go">
            </form>
        </div>
        
        <div id="content">
            {% block content %}Insert content here{% endblock %}
        </div>
        
        <div id="footer">
            <a href="/about.html">About</a> |
            <a href="http://blog.to.uri.st/" class="ext">Blog</a> |
            <a href="http://wiki.to.uri.st/" class="ext">Wiki</a> | 
            <a href="http://wiki.to.uri.st/Tools" class="ext">Tools</a> | 
            <a href="http://wiki.to.uri.st/User_Guide" class="ext">Help</a> | 
			<a href="/legal.html">Disclaimer, privacy policy, and legal</a>
        </div>
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="/_/tourist.js"></script>
        
        <script src="http://www.google-analytics.com/urchin.js"></script>
		<script type="text/javascript">
			_uacct = "UA-2063563-1";
			urchinTracker();
		</script>
		
    </body>
</html>
