<!DOCTYPE HTML>
<html>
    <head>
        <title>to.uri.st</title>
        <link rel="stylesheet" href="/_/style.css" type="text/css">
	</head>
    <body>
        
        <div id="header">
            <h1>to.uri.st</h1>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="http://blog.to.uri.st">Blog</a></li>
                <li><a href="http://wiki.to.uri.st">Wiki</a></li>
            </ul>
            <form methd="get" action="search.html">
                <label>Look at <input type="text" name="q"></label>
                <input type="submit">
            </form>
        </div>
        
        <div id="content">
            {% block content %}Insert content here{% endblock %}
        </div>
        
        <div id="footer">
            <a href="/about.html">About</a> |
            <a href="http://blog.to.uri.st/" class="ext">Blog</a> |
            <a href="http://wiki.to.uri.st/" class="ext">Wiki</a> | 
            <a href="http://wiki.to.uri.st/Tools" class="ext">Tools</a> | 
            <a href="http://wiki.to.uri.st/User_Guide" class="ext">Help</a> | 
			<a href="/legal.html">Disclaimer, privacy policy, and legal</a>
        </div>
        
    </body>
</html>
