{% extends "shell.html" %}

{% block title %}User "{{user.name|escape }}" : to.uri.st{% endblock %}

{% block content %}
    
    {% if owner %}
    <div id="attraction-nav">
        <span>User</span>
        <a rel="edit" href="/users/{{ user.id|escape }}/edit.html">Edit</a>
    </div>
    {% endif %}
    
    <h2>{{ user.name|escape }}</h2>
    
    {% if user.badges %}
    <ul id="badges">
        {% if user.badges.1 %}
        <li><img src="/_/badges/1.png" alt="Newbie" title="Newbie: You've edited your first attraction ({{ user.badges.1|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.2 %}
        <li><img src="/_/badges/2.png" alt="Tripple wammy" title="Tripple wammy: You're 3rd edit is in the bag ({{ user.badges.2|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.3 %}
        <li><img src="/_/badges/3.png" alt="Day tripper" title="Day tripper: 10 attractions updated ({{ user.badges.3|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.4 %}
        <li><img src="/_/badges/4.png" alt="Know it all" title="Know it all: 25 attractions updated ({{ user.badges.4|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.5 %}
        <li><img src="/_/badges/5.png" alt="Superstar" title="Superstar: Wow! You've hit the ton, 100 attractions updated ({{ user.badges.5|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.6 %}
        <li><img src="/_/badges/6.png" alt="Local" title="Local: Keeping it local, you've edited 5 attractions in the same neighbourhood ({{ user.badges.6|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.7 %}
        <li><img src="/_/badges/7.png" alt="Native" title="Native: You're putting down roots, 20 edits in one neighbourhood ({{ user.badges.7|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.11 %}
        <li><img src="/_/badges/11.png" alt="A thousand words" title="A thousand words: A picture tells a thousand words, or so they say ({{ user.badges.11|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.12 %}
        <li><img src="/_/badges/12.png" alt="Shutterbug" title="Shutterbug: You're a photo finding hero ({{ user.badges.12|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
        {% if user.badges.14 %}
        <li><img src="/_/badges/14.png" alt="Commentator" title="Commentator: Congratulations on your first comment ({{ user.badges.14|date:"jS F Y \a\t H:i" }})"></li>
        {% endif %}
    </ul>
    {% endif %}
    
    {% if user.description %}
        {{ user.description|escape|linebreaks }}
    {% else %}
        <p><em>This user hasn't added a profile yet.</em></p>
    {% endif %}
    
    {% if edited %}
    <h3>Recently edited</h3>
    <img src="http://maps.google.com/maps/api/staticmap?size=300x200&amp;maptype=roadmap{% for attraction in edited %}&amp;markers=color:0xff8800|{% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false" alt="Map">
    <ol>
        {% for attraction in edited %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
            on {{ attraction.datetime|date:"jS F Y \a\t H:i" }}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
    {% if recommended %}
    <h3>Recommended</h3>
    <img src="http://maps.google.com/maps/api/staticmap?size=300x200&amp;maptype=roadmap{% for attraction in recommended %}&amp;markers=color:0xff8800|{% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false" alt="Map">
    <ol>
        {% for attraction in recommended %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
    {% if itinerary %}
    <h3>Itinerary</h3>
    <img src="http://maps.google.com/maps/api/staticmap?size=300x200&amp;maptype=roadmap{% for attraction in itinerary %}&amp;markers=color:0xff8800|{% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false" alt="Map">
    <ol>
        {% for attraction in itinerary %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
{% endblock %}
