{% extends "shell.html" %}

{% block title %}User "{{user.name|escape }}" : to.uri.st{% endblock %}

{% block content %}
    
    <h2>{{ user.name|escape }}</h2>
    
    {% if user.description %}
        {{ user.description|escape|linebreaks }}
    {% else %}
        <p><em>Nothing to see here as yet.</em></p>
    {% endif %}
    
    {% if attractions %}
    <h3>Recently edited</h3>
    <ol>
        {% for attraction in attractions %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
            {{ attraction.datetime|date:"jS F Y \a\t H:i" }}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
    {% if favourites %}
    <h3>Favourites</h3>
    <ol>
        {% for attraction in favourites %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
            {{ attraction.datetime|date:"jS F Y \a\t H:i" }}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
    {% if owner %}<a href="/users/{{ user.id|escape }}/edit.html">Edit your profile</a>{% endif %}
    
{% endblock %}
