{% extends "shell.html" %}

{% block title %}User "{{user.name|escape }}" : to.uri.st{% endblock %}

{% block content %}
    
    {% if owner %}
    <div id="attraction-nav">
        <span>User</span>
        <a rel="edit" href="/users/{{ user.id|escape }}/edit.html">Edit</a>
    </div>
    {% endif %}
    
    <h2>{{ user.name|escape }}</h2>
    
    {% if user.description %}
        {{ user.description|escape|linebreaks }}
    {% else %}
        <p><em>Nothing to see here as yet.</em></p>
    {% endif %}
    
    {% if user.badges %}
    <ul id="badges">
        {% if user.badges.1 %}
        <li class="badge1">Newbie: You've edited your first attraction ({{ user.badges.1|date:"jS F Y \a\t H:i" }})</li>
        {% endif %}
        {% if user.badges.2 %}
        <li class="badge2">Tripple wammy: 3 edits ({{ user.badges.2|date:"jS F Y \a\t H:i" }})</li>
        {% endif %}
        {% if user.badges.3 %}
        <li class="badge3">Day tripper: 10 edits ({{ user.badges.3|date:"jS F Y \a\t H:i" }})</li>
        {% endif %}
        {% if user.badges.4 %}
        <li class="badge4">Know it all: 25 edits ({{ user.badges.4|date:"jS F Y \a\t H:i" }})</li>
        {% endif %}
        {% if user.badges.5 %}
        <li class="badge5">Superstar: 100 edits ({{ user.badges.5|date:"jS F Y \a\t H:i" }})</li>
        {% endif %}
    </ul>
    {% endif %}
    
    {% if edited %}
    <h3>Recently edited</h3>
    <img src="http://maps.google.com/maps/api/staticmap?size=300x200&amp;maptype=roadmap{% for attraction in edited %}&amp;markers=color:0xff8800|{% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false" alt="Map">
    <ol>
        {% for attraction in edited %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
            on {{ attraction.datetime|date:"jS F Y \a\t H:i" }}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
    {% if recommended %}
    <h3>Recommended</h3>
    <img src="http://maps.google.com/maps/api/staticmap?size=300x200&amp;maptype=roadmap{% for attraction in recommended %}&amp;markers=color:0xff8800|{% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false" alt="Map">
    <ol>
        {% for attraction in recommended %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
    {% if itinerary %}
    <h3>Itinerary</h3>
    <img src="http://maps.google.com/maps/api/staticmap?size=300x200&amp;maptype=roadmap{% for attraction in itinerary %}&amp;markers=color:0xff8800|{% if attraction.label %}label:{{ attraction.label }}|{% endif %}{{ attraction.location.lat|escape }},{{ attraction.location.lon|escape }}{% endfor %}&amp;sensor=false" alt="Map">
    <ol>
        {% for attraction in itinerary %}
        <li>
            <a href="/attractions/{{ attraction.id }}.html">{{ attraction.name|escape }}</a>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    
{% endblock %}
