{% extends "shell.html" %}

{% block title %}Editing "{{user.name|escape }}" : to.uri.st{% endblock %}

{% block content %}
    
    <div id="attraction-nav">
        <a href="/users/{{ user.id }}.html">User</a>
        <span>Edit</span>
    </div>
    
    <h2>Edit "{{ user.name|escape }}"</h2>
    
    {% if errors.save %}<p class="error">There was a problem saving the attraction, please try again later.</p>{% endif %}
    {% if errors.permission %}<p class="error">You must be logged in as this user to edit it.</p>{% endif %}
    
    <form action="/users/{{ user.id }}/edit.html" method="post">
        
        <label{% if errors.name %} class="error"{% endif %}>
            Display name:
            {% if errors.name_empty %}You must have a name{% endif %}
            {% if errors.name_long %}Your name must be under a 100 characters long{% endif %}
            <input type="text" name="name" value="{{ user.name|escape }}" maxlength="100">
        </label>
        
        <label>
            Description:
            <textarea name="description">{% if user.description %}{{ user.description|escape }}{% endif %}</textarea>
        </label>
        
        <label{% if errors.href %} class="error"{% endif %}>
            More information URL:
            {% if errors.href %}Enter a valid HTTP URL including the "http://"{% endif %}
            <input type="text" name="href" value="{% if user.href %}{{ user.href|escape }}{% endif %}">
        </label>
        
        <div class="buttons">
            <input type="submit" value="Save">
            <a href="/users/{{ user.id }}.html">Cancel</a>
        </div>
        
    </form>
    
{% endblock %}
